.main {
	margin: 5%;
}
.pta, .command {
	display: inline-block;
}
.command {
	position: absolute;
	left: 4%;
	top: 18%;
}
.pta {
	padding-top: 5%;
}
.nums, .options {
	display: inline-block;
	font-size: 25px;
}
td {
	text-align: center;
}